body{
    margin: 0;
}
.navbar{
    display: flex;
    gap: 80px;
    font-size: x-large;
    font-weight: 400;
    justify-content: center;
    color: white;
    margin-bottom: 10%;
}
.navbar a{
    text-decoration: none;
    color: white;
    font-size: x-large;
    font-style: oblique; 
}
.navbar a:hover{
    color: rgb(255, 127, 191);
}
button{
    margin-left:85%;
    margin-bottom: 12%;
}
#hero-page{
    display: flex;
    margin-top: 5%;
    justify-content: center;
}
#text{
    color: white;
    font-weight: 100;
    font-size: 20px;
}
#logo{
    width: 10%;
    margin-left: -5%;
}


@media screen and (min-width:481px) and (max-width:564px){
    #hero-page{
        flex-wrap: wrap;
       
    } 
    .navbar{
       flex-wrap: wrap;
       
        font-size: xx-small;
        font-weight: 400;
      
        color: white;
        margin-top: 2%;
        flex-wrap: wrap;
    }
    body{
        margin: 0;
     
    }
    #text{
        color: white;
        font-weight: 100px;
        font-size: 5px;
    }
    #logo{
        width: 10%;
        margin-left: 20%;
    }
    #image{
        width: 200px;
    }
}
@media screen and (min-width:360px) and (max-width:740px){
    #hero-page{
        flex-wrap: wrap;
       
    } 
    #text{
        color: white;
        font-weight: 100;
        font-size: 10px;
    }
    .navbar{
        flex-wrap: wrap;
        
         font-size: xx-small;
         font-weight: 400;
       
         color: white;
         margin-top: 2%;
         flex-wrap: wrap;
     }
     body{
        overflow: hidden;
     }

}
@media screen and (min-width:768px) and (max-width:1024x){
    #image{
        width: 300px;
    }
    #text{
        color: white;
        font-weight: 100;
        font-size: 10px;
    }
    #logo{
        width: 10%;
        margin-left: 25%;
    }

}
@media screen and (min-width:280px) and (max-width:653x){

#hero-page{
    display: flex;
    margin-top: 5%;
    justify-content: center;
}
#text{
    color: white;
    font-weight: 100;
    font-size: 10px;
}
.navbar{
    flex-wrap: wrap;
    
     font-size: xx-small;
     font-weight: 400;
   
     color: white;
     margin-top: 2%;
     flex-wrap: wrap;

}
}














    